@import url(https://fonts.googleapis.com/css?family=Nunito);
body {
  --avatar: #fff;
  --bg-transparent: hsl(0deg 0% 100% / 75%);
  --bkg-activity: #fff;
  --bkg-alt: #fafafa;
  --bkg-attention: #fffbdf;
  --bkg-checkout: #fafafa;
  --bkg-color: #fff;
  --bkg-dark: #e6e7e8;
  --bkg-disabled: #ffffff;
  --bkg-icon: #fafafa;
  --bkg-ios-dark: #efefef;
  --bkg-ios: #efefef;
  --bkg-item: #fbfdff;
  --bkg-item-mid: #fbfdff;
  --bkg--list: #393e50;
  --bkg-opacity: #fafafa70;
  --bkg-overlay: rgb(255 255 255 / 75%);
  --bkg-post: #fff;
  --bkg-qty: rgba(111, 111, 144, 0.85);
  --bkg-select: #fafafa;
  --bkg-shade: #f8fafd;
  --bkg-snap: #fafafa;
  --bkg-studio: #f8fafd;
  --bkg-unset: #fafafa;
  --bkg-unsetimg: #e5f4ff;
  --border-activate: #d6d6d6;
  --border-studio: #ededed;
  --border-unset: #fafafa;
  --border: #f5f5f5;
  --bright-soft: brightness(1);
  --btn-light: #4aabf0;
  --btn-blue: #3898ec;
  --color-primary-light: #152640;
  --color-primary: #fff;
  --color-secondary: #eec413;
  --content-editable: rgba(217, 245, 255,0.5);
  --feed-icon: #eef2f8;
  --opacity-alt: 1;
  --opacity-img: brightness(1) contrast(1);
  --opacity: 1;
  --placeholder: #00000021;
  --price: #45bb82;
  --shadow-avatar: #bbb;
  --shadow-swal: rgb(60 64 67 / 8%) 6px 8px 20px 1px;
  --studio: #f8fafd;
  --tab-active: #4aabf0;
  --text-off: #6f6f90;
  --text-soft: #6f6f908c;
  --text-subtext: #6f6f90ad;
  --text-title: #68688a;
  --text-toggle: #6f6f904f;
  --text-toggle_active: #6f6f90;
  --tooltip: #544b4b;
  --xp-tag: #4eb1f7;
}

body.dark-theme {
  --avatar: #2d3848;
  --bg-transparent: hsl(216deg 23% 23% / 75%);
  --bkg-activity: #2d3848;
  --bkg-alt: #404a5f;
  --bkg-attention: #ab3f3f;
  --bkg-checkout: #404a5fb8;
  --bkg-color: #2d3848;
  --bkg-dark: #495a73;
  --bkg-disabled: #2d3848;
  --bkg-icon: #2d3848;
  --bkg-ios-dark: #2d3848;
  --bkg-ios: #404a5f;
  --bkg-item: #393e50;
  --bkg-item-mid: #3c4356;
  --bkg--list: #393e50;
  --bkg-opacity: #40485fcc;
  --bkg-overlay: rgb(45 45 45 / 75%);
  --bkg-post: #40495f;
  --bkg-qty: #6f788c;
  --bkg-select: #40495f;
  --bkg-shade: #40495f;
  --bkg-snap: #2d3848;
  --bkg-studio: #2d3848;
  --bkg-unset: unset;
  --bkg-unsetimg: unset;
  --border-activate: #fafafa7a;
  --border-studio: #ffffff00;
  --border-unset: #ffffff00;
  --border: #fafafa0f;
  --bright-soft: brightness(.94);
  --btn-light: #8b94a7;
  --btn-blue: #40495f;
  --color-primary-light: #152640;
  --color-primary: #2d3848;
  --color-secondary: #e684af;
  --content-editable: #40495f;
  --feed-icon: #2d3848;
  --opacity-alt: .95;
  --opacity-img: brightness(0.85) contrast(1.2);
  --opacity: 0.5;
  --placeholder: #96aabb;
  --price: #48e096;
  --shadow-avatar: #40495f;
  --shadow-swal: rgb(0 0 0 / 8%) 6px 8px 20px 1px;
  --studio: #2d3848;
  --tab-active: #fcfcfce8;
  --text-off: #7d8e9bff;
  --text-soft: #868ea2;
  --text-subtext: #868ea2;
  --text-title: #fff;
  --text-toggle: #e1e3e45e;
  --text-toggle_active: #e1e3e4;
  --tooltip: #2b3442;
  --xp-tag: #ffffff00;
}

@media (prefers-color-scheme: dark) {
  body {
    --avatar: #2d3848;
    --bg-transparent: hsl(216deg 23% 23% / 75%);
    --bkg-activity: #2d3848;
    --bkg-alt: #404a5f;
    --bkg-attention: #ab3f3f;
    --bkg-checkout: #404a5fb8;
    --bkg-color: #2d3848;
    --bkg-dark: #495a73;
    --bkg-disabled: #2d3848;
    --bkg-icon: #2d3848;
    --bkg-ios-dark: #2d3848;
    --bkg-ios: #404a5f;
    --bkg-item: #393e50;
    --bkg-item-mid: #3c4356;
    --bkg-overlay: rgb(45 45 45 / 75%);
    --bkg-post: #40495f;
    --bkg-qty: #6f788c;
    --bkg-select: #40495f;
    --bkg-shade: #40495f;
    --bkg-snap: #2d3848;
    --bkg-studio: #2d3848;
    --bkg-unset: unset;
    --bkg-unsetimg: unset;
    --border-activate: #fafafa7a;
    --border-studio: #ffffff00;
    --border-unset: #ffffff00;
    --border: #fafafa0f;
    --bright-soft: brightness(.94);
    --btn-light: #8b94a7;
    --btn-blue: #40495f;
    --bkg-opacity: #40485fcc;
    --color-primary-light: #152640;
    --color-primary: #2d3848;
    --color-secondary: #e684af;
    --content-editable: #40495f;
    --feed-icon: #2d3848;
    --opacity-alt: .95;
    --opacity-img: brightness(0.85) contrast(1.2);
    --opacity: 0.5;
    --placeholder: #96aabb;
    --price: #48e096;
    --shadow-avatar: #40495f;
    --shadow-swal: rgb(60 64 67 / 8%) 6px 8px 20px 1px;
    --studio: #2d3848;
    --tab-active: #fcfcfce8;
    --text-off: #7d8e9bff;
    --text-soft: #868ea2;
    --text-subtext: #868ea2;
    --text-title: #fff;
    --text-toggle: #e1e3e45e;
    --text-toggle_active: #e1e3e4;
    --tooltip: #2b3442;
    --xp-tag: #ffffff00;
  }

  body.light-theme {
    --avatar: #fff;
    --bg-transparent: hsl(0deg 0% 100% / 75%);
    --bkg-activity: #fff;
    --bkg-alt: #fafafa;
    --bkg-attention: #fffbdf;
    --bkg-checkout: #fafafa;
    --bkg-color: #fff;
    --bkg-dark: #e6e7e8;
    --bkg-disabled: #ffffff;
    --bkg-icon: #fafafa;
    --bkg-ios-dark: #efefef;
    --bkg-ios: #efefef;
    --bkg-item: #fbfdff;
    --bkg-item-mid: #fbfdff;
    --bkg-opacity: #fafafa70;
    --bkg-overlay: rgb(255 255 255 / 75%);
    --bkg-post: #fff;
    --bkg-qty: rgba(111, 111, 144, 0.85);
    --bkg-select: #fafafa;
    --bkg-shade: #f8fafd;
    --bkg-snap: #fafafa;
    --bkg-studio: #f8fafd;
    --bkg-unset: #fafafa;
    --bkg-unsetimg: #e5f4ff;
    --border-activate: #d6d6d6;
    --border-studio: #ededed;
    --border-unset: #fafafa;
    --border: #f5f5f5;
    --bright-soft: brightness(1);
    --btn-light: #4aabf0;
    --btn-blue: #3898ec;
    --color-primary-light: #152640;
    --color-primary: #fff;
    --color-secondary: #eec413;
    --content-editable: rgba(217, 245, 255,0.5);
    --feed-icon: #eef2f8;
    --opacity-alt: .8;
    --opacity-img: brightness(1) contrast(1);
    --opacity: 1;
    --placeholder: #00000021;
    --price: #45bb82;
    --shadow-avatar: #bbb;
    --shadow-swal: rgb(0 0 0 / 8%) 6px 8px 20px 1px;
    --studio: #f8fafd;
    --tab-active: #4aabf0;
    --text-off: #6f6f90;
    --text-soft: #6f6f908c;
    --text-subtext: #6f6f90ad;
    --text-title: #6b6b8c;
    --text-toggle: #6f6f904f;
    --text-toggle_active: #6f6f90;
    --tooltip: #544b4b;
    --xp-tag: #4eb1f7;
  }
}
